*.code-workspace
*.exe
*.out
*.class
*.o
*.pyc
/.vscode

CSE_Directory/CSE_Assignments/CSE_4382-SP/Input Validation/PhoneBook/PhoneBook/obj/Debug/net6.0/project.razor.json #updates a hash everytime.
cifar10.npz
img

imagenette
lightning_logs
